<div class="card" style="width:50%; margin:0 auto; margin-top:25px;">
  <div class="notification">
    <div>
      <h1 style="font-size:40px; margin-bottom:20px;">Password Generator</h1>
    </div>
    <div class="field">
      <label class="label">Password length</label>
      <div class="control">
        <input class="input" type="number" [(ngModel)]="length">
      </div>
    </div>
    <div class="field">
      <label class="radio">
        <input type="checkbox" (change)="onChangeLetter()">
        Use Letter
      </label>
    </div>
    <div class="field">
      <label class="radio">
        <input type="checkbox" (change)="onChangeNumber()">
        Use Number
      </label>
    </div>
    <div class="field">
      <label class="radio">
        <input type="checkbox" (change)="onChangeSymbol()">
        Use Symbol
      </label>
    </div>
    <div class="control">
      <button class="button is-link" (click)="onClickGenerate()"
        [disabled]="!(length && (useLetter || useNumber || useSymbol ))">Generat</button>
    </div>

    <div class="field" style="margin-top:25px;" *ngIf="password">
      <label class="label">Your Password</label>
      <div class="control">
        <input class="input" type="text" [value]="password">
      </div>
    </div>

  </div>
</div>